@font-face {
  font-family: "iconfont"; /* Project id 4351312 */
  src: url('iconfont.woff2?t=1704425287928') format('woff2'),
       url('iconfont.woff?t=1704425287928') format('woff'),
       url('iconfont.ttf?t=1704425287928') format('truetype'),
       url('iconfont.svg?t=1704425287928#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e635";
}

.icon-planet-w:before {
  content: "\e618";
}

.icon-fill-new-nature-planet-universn-borwser:before {
  content: "\e708";
}

.icon-linear-new-nature-planet-universe-borwser:before {
  content: "\e71f";
}

.icon-share:before {
  content: "\e804";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-search1:before {
  content: "\e65d";
}

.icon-likefill:before {
  content: "\e668";
}

.icon-like:before {
  content: "\e669";
}

.icon-back:before {
  content: "\e679";
}

.icon-more:before {
  content: "\e684";
}

.icon-scan:before {
  content: "\e689";
}

.icon-settings:before {
  content: "\e68a";
}

.icon-questionfill:before {
  content: "\e690";
}

.icon-question:before {
  content: "\e691";
}

.icon-pic:before {
  content: "\e69b";
}

.icon-top:before {
  content: "\e69e";
}

.icon-pulldown:before {
  content: "\e69f";
}

.icon-pullup:before {
  content: "\e6a0";
}

.icon-right1:before {
  content: "\e6a3";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-deletefill:before {
  content: "\e6a6";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-creativefill:before {
  content: "\e718";
}

.icon-creative:before {
  content: "\e719";
}

.icon-tagfill:before {
  content: "\e751";
}

.icon-tag:before {
  content: "\e752";
}

.icon-triangledownfill:before {
  content: "\e79b";
}

.icon-triangleupfill:before {
  content: "\e79c";
}

.icon-mail:before {
  content: "\e7bd";
}

.icon-hot:before {
  content: "\e605";
}

.icon-L_fire_fill_circle:before {
  content: "\e6d0";
}

.icon-address:before {
  content: "\e613";
}

.icon-peiduiyuehui01:before {
  content: "\e72d";
}

.icon-clock:before {
  content: "\e746";
}

.icon-icon-contact:before {
  content: "\e66e";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8ed";
}

.icon-caret-right:before {
  content: "\e8ee";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-service:before {
  content: "\e636";
}

.icon-planet:before {
  content: "\e617";
}

.icon-dot-circle:before {
  content: "\e600";
}

.icon-call:before {
  content: "\e603";
}

.icon-mine:before {
  content: "\e6ed";
}

.icon-address1:before {
  content: "\e65c";
}

.icon-right:before {
  content: "\e66f";
}

.icon-pipei:before {
  content: "\e601";
}

.icon-pipei1:before {
  content: "\e610";
}

.icon-mine1:before {
  content: "\e6bb";
}

.icon-pipei2:before {
  content: "\e602";
}

.icon-calendar-ing:before {
  content: "\e604";
}

.icon-share-C:before {
  content: "\e623";
}

.icon-baogaosousuo:before {
  content: "\e640";
}

